@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  margin: 0;
  font-family: Raleway, sans-serif;
}

.RoomList h2 {
  font-size: 1rem;
}

.RoomList ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.RoomList li {
  margin-bottom: 0.5rem;
}
.RoomList li a {
  display: block;
  color: whitesmoke;
  text-decoration: none;
}
.RoomList li a::before {
  content: '# ';
}
.RoomList li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.MessageForm {
  background-color: white;
  height: 3rem;
  display: flex;
  align-items: stretch;
  border: 2px solid #999;
  border-radius: 0.5rem;
  margin: 0.25rem;
  padding: 0;
}

.MessageForm .chatIcon {
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  background-color: white;
  color: #ccc;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.MessageForm input {
  flex: 1;
  font-size: 1.2rem;
  border: 0;
}
.MessageForm input:focus {
  outline: 0;
}

.MessageForm button {
  font-size: 1.5rem;
  background-color: #1A8FE3;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid white;
}

.UserInfo {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.UserInfo .Avatar {
  margin-right: 0.5rem;
}
.UserInfo .user {
  flex: 1;
}
.UserInfo a {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  transition: color 0.25s ease-out;
}
.UserInfo a:hover {
  color: white;
}

